CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

cmake-build-debug/*
cmake-build-debug/googletest-src/googletest/src/
cmake-build-debug/googletest-src/googletest/src/gtest_main.cc

*~
.idea/*
*.cbp
*.a

html/*

MQTT.SUB
CLIENTS
MQTT.CON
TOPICS.PRE

runAll_Tests
test-mqtt-sn-gateway.layout

*.PUB
*.REG
*.SUB
*.WIL
*.CON

